# Inventory
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass

# Payment
PAYMENT_DB_USER=payment_user
PAYMENT_DB_PASSWORD=payment_pass
STRIPE_SECRET_KEY = "STRIPE_SECRET_KEY"

# PostgreSQL — notification-service database
DB_HOST=notification-service-db
DB_PORT=5432
DB_NAME=notification
DB_USER=notification_user
DB_PASSWORD=notification_pass

# Notification
NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=notification_pass
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
# Twilio (SMS)
TWILIO_ACCOUNT_SID=xxx
TWILIO_AUTH_TOKEN=xxx
TWILIO_FROM_NUMBER=+xxx
# SendGrid (email)
SENDGRID_API_KEY=xxx
SENDGRID_FROM_EMAIL=xxx